---
import { getCollection, type CollectionEntry } from "astro:content";
import PostListByYear from "../../components/post/PostListByYear.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import type { Page } from "astro";
// All paginated data is passed on the "page" prop

type BlogEntry = CollectionEntry<"blog">;

const { page }: { page: Page<BlogEntry> } = Astro.props;
// console.log("page", page);

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
  );
  return paginate(posts, { pageSize: 100 });
}

export const prerender = true;
---

<RootLayout title="Posts" description="All blog posts.">
  <h1>Posts</h1>
  <PostListByYear posts={page.data} />
</RootLayout>
