@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./variables.css";

html.dark .theme-dark {
  display: none;
}
html:not(.dark) .theme-light {
  display: none;
}

.theme-light,
.theme-dark {
  @apply cursor-pointer hover:text-[var(--color-accent)];
  /* @apply transition-colors duration-100; */
}

body {
  --vp-font-family-base: "Inter Variable", "Inter", "Noto Sans SC",
    "PingFang SC", "Microsoft Yahei", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: ui-monospace, "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;

  font-family: var(--vp-font-family-base);
  margin: 0;
  padding: 0;
  text-align: justify;
  @apply bg-[var(--color-bg)];
  @apply text-[var(--color-default)];
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.7;
}

.header {
  @apply pb-4;
}

.header nav {
  @apply flex justify-between items-center p-4 gap-4;
}

.header .internal-links {
  @apply flex gap-6;

  a {
    @apply text-[var(--color-default)];
    @apply hover:text-[var(--color-default-hover)];

    &.active {
      @apply text-[var(--color-accent-hover)] decoration-2;
    }
  }
}

.header .social-links,
footer .social-links {
  @apply flex gap-4 items-center;
}

.posts {
  @apply grid grid-cols-1 gap-4;
}

.post {
  @apply border border-gray-200 rounded-md p-4;
}

footer .social-links .icon:hover {
  @apply text-white;
}
