:root {
  --color-bg: #eeeeee;

  --color-default: #4E3F42;
  --color-default-hover: #4E3F42b3;

  --color-accent: #de4331;
  --color-accent-hover: #de4331b3;

  --color-gray: #6d6d6d;
  --color-gray-light: #eff1f3;

  --color-border: #ffffff;

  --color-glass: #ffffff66;
}

:root.dark {
  --color-bg: #333333;

  --color-default: #ffffff;
  --color-default-hover: #ffffffb3;

  --color-accent: #de4331;
  --color-accent-hover: #de4331b3;

  --color-gray: #6d6d6d;
  --color-gray-light: #1a1b26;

  --color-border: #ffffff;

  --color-glass: #33333366;
}
