:root {
  --color-bg: rgb(250, 252, 252);

  --color-default: #000000;

  --color-accent: rgb(207, 125, 156);
  --color-accent-hover: rgba(207, 125, 156, 0.7);
}

:root.dark {
  --color-bg: rgb(33, 39, 55);
  --color-default: rgb(223, 223, 214);

  --color-accent: rgb(207, 130, 158);
  --color-accent-hover: rgba(207, 130, 158, 0.7);
}
