---
const { class: className, ...props } = Astro.props;
---

<div class={`comment-edit @container ${className}`} {...props}>
  <form id="comment-edit-form" method="post">
    <div class="meta">
      <input type="text" required name="author_name" placeholder="Name" />
      <input type="email" required name="author_email" placeholder="Email" />
      <input type="url" name="author_url" placeholder="Website" />
    </div>

    <textarea name="content" placeholder="Comment..."></textarea>
    <button type="submit" class="link">Submit</button>
  </form>
</div>
