---
import { getEntry } from "astro:content";
import { drizzle } from "drizzle-orm/d1";
import { commentsTable } from "../../tables/comment";
import { getClientIP } from "../../utils/comment";

const { postSlug, class: className, ...props } = Astro.props;

// const db = drizzle(Astro.locals.runtime.env.DB);

// const post = await getEntry("blog", postSlug);
// if (!post) {
//   return Astro.redirect("/404");
// }
// // const db = drizzle(Astro.locals.runtime.env.DB);

// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     console.log("data", data);
//     const ip = getClientIP(Astro.request);
//     console.log("ip", ip);
//     // const result = await db.insert(commentsTable).values({
//     //   post_slug: post.id as string,
//     //   author_name: data.get("author_name") as string,
//     //   author_email: data.get("author_email") as string,
//     //   author_url: data.get("author_url") as string,
//     //   content: data.get("content") as string,
//     //   created_at: Date.now(),
//     // });
//     // console.log("insert result", result);
//   } catch (error) {
//     console.error(error);
//   }
// }
---

<div class={`comment-edit @container ${className}`} {...props}>
  <form
    id="comment-edit-form"
    method="post"
    class="flex flex-col gap-4"
    action={`/api/comments/${postSlug}`}
  >
    <div
      class="meta flex flex-col md:flex-row justify-stretch items-stretch gap-4"
    >
      <input
        type="text"
        required
        name="author_name"
        placeholder="Name"
        class="flex-1 px-2 py-1 bg-secondary w-full"
      />
      <input
        type="email"
        required
        name="author_email"
        placeholder="Email"
        class="flex-1 px-2 py-1 bg-secondary w-full"
      />
      <input
        type="url"
        name="author_url"
        placeholder="Website"
        class="flex-1 px-2 py-1 bg-secondary w-full"
      />
    </div>

    <textarea
      name="content"
      placeholder="Comment..."
      class="px-2 py-1 leading-8 bg-secondary"></textarea>
    <div class="flex justify-end">
      <button type="submit" class="link">Submit</button>
    </div>
  </form>
</div>
