---
import RootLayout from "../layouts/RootLayout.astro";
import { getCollection } from "astro:content";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// @ts-ignore
import AboutContent from "../../content/about.typ?html&body";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

console.log(posts);
---

<RootLayout title="Home">
  <AboutContent />
  <div class="posts">
    {
      posts.map((post) => (
        <div class="post">
          <a href={`/article/${post.id}`}>
            <h2>{post.data.title}</h2>
          </a>
          <p>{post.data.date}</p>
        </div>
      ))
    }
  </div>
</RootLayout>
