---
import "../styles/card.css";
---

<div class="card">
  <slot />
</div>

<style>
  .card {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-glass-border);
    border-radius: 40px;
    padding: calc(1.5rem - 1px);
    background-color: var(--color-glass);
    box-shadow:
      0 40px 50px -32px var(--color-shadow),
      inset 0 0 20px var(--color-glow);
    backdrop-filter: blur(4px);
  }
</style>
