---
import "../styles/card.css";
---

<div class="card">
  <slot />
</div>

<style>
  .card {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 40px;
    padding: calc(1.5rem - 1px);
    background-color: #ffffff66;
    box-shadow:
      0 40px 50px -32px #0000000d,
      inset 0 0 20px #ffffff40;
    backdrop-filter: blur(4px);
  }
</style>
