---
const { tags, class: className, ...props } = Astro.props;
---

<div class={`tags flex gap-4 ${className}`} {...props}>
  {
    tags.map((tag: string) => (
      <a
        href={`/tag/${tag}`}
        class="tag no-underline! hover:text-[var(--color-accent-hover)] hover:decoration-auto hover:underline!"
      >
        #{tag}
      </a>
    ))
  }
</div>
