---
import type { CollectionEntry } from "astro:content";
import "../styles/global.css";
import "../styles/article.css";
import "../styles/comments.css";
import "../styles/code.css";
import FormattedDate from "../components/FormattedDate.astro";
import RootLayout from "./RootLayout.astro";
import Tags from "../components/Tags.astro";
import BackToTop from "../components/BackToTop.astro";
import CommentList from "../components/comment/CommentList.astro";
import CommentEdit from "../components/comment/CommentEdit.astro";

interface IdExt {
  id: string;
}

type Props = CollectionEntry<"blog">["data"] & (IdExt | { id: false });

const { id, title, description, date, updatedDate, tags, author, ...rest } =
  Astro.props;
// console.log("post id", Astro.props);
---

<RootLayout>
  <article id={id || ""}>
    <div class="prose">
      <section class="title" aria-label="Title">
        <div class="annotation">
          <div class="date">
            <FormattedDate date={date} />
            {
              updatedDate && (
                <>
                  <span class="last-updated-on">
                    , Last updated on{" "}
                    <FormattedDate date={updatedDate || date} />
                  </span>
                </>
              )
            }
          </div>
        </div>
        <h1>{title}</h1>
        <hr />
      </section>
      <slot />
      <Tags tags={tags} class="mt-10" />
      <CommentList postSlug={id} class="mt-2" />
    </div>
    <BackToTop />
  </article>
</RootLayout>
